 <!DOCTYPE html>
<html>
<body>
<a class="image" href="http://localhost:9393/form">
  <img src="/Drawing.png" alt="Our Great Logo" align="middle" height="650" width="500">
</a> 
<p style="text-align: center">"Welcome to our invitation movie service, please proceed to click our logo to obtain the movie ticket you want!"</p>
</body>
</html>
 